.appnewscard{
  color: #270f12;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.appnewscard-link{
  text-decoration: none;
  background-color: #71798b;
  border-radius: 10px;
  opacity: .8;
}

.appnewscard-link:hover{
  filter: brightness(150%);
  border-color: #270f12;
}

.appnewscard-content {
  width: 100%; 
  padding: 0 10px;
  box-sizing: border-box;
}