* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../images/steam_background.jpeg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  overflow: hidden; 
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  gap: 35px;
  justify-items: center;
  width: 100%;
  padding: 0;
  list-style: none;
  margin: 0;
}

.dashboard-grid li {
  list-style: none;
}

.dashboard-grid li img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 600) {
  .dashboard-grid {
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  }
}
